@{
    ViewData["Title"] = "Dashboard";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Construir tabela dinamica</p><br/>
<a href=https://medium.com/henrique-dezani/criando-uma-aplica%C3%A7%C3%A3o-web-com-microsoft-asp-net-mvc-e-c-5c145554cfeb>Tutorial Basixo</a>